<% if @user.has_store_credit? %>
  <h2><%= t("store_credits") %></h2>
  <p>
  <%= t('current_store_credit') %>: <strong><%= number_to_currency @user.store_credits_total %></strong><span style="margin-left: 10px" class="tip"><%= link_to t(:how_do_store_credits_work), spree.store_credit_howto_path, :remote => true %></span>
  <div id="store_credit_howto"></div>
  <table class="store-credit-summary">
    <thead>
      <tr>
        <th><%= t(:credited_amount) %></th>
        <th><%= t(:remaining_amount) %></th>
        <th><%= t(:expiry_date) %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.store_credits.each do |store_credit| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <td><%= number_to_currency store_credit.amount %></td>
          <td><%= number_to_currency store_credit.remaining_amount %></td>
          <td><%= store_credit.expires_at.nil? ? t(:does_not_expire) : store_credit.expires_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>
  </p>
  <% if @orders_with_store_credit.present? %>
  <h3><%= t('orders_with_store_credit') %></h3>
  <table class="order-summary">
    <thead>
      <tr>
        <th><%= t("order_number") %></th>
        <th><%= t("order_date") %></th>
        <th><%= t("status") %></th>
        <th><%= t("customer") %></th>
        <th><%= t("total") %></th>
        <th><%= t("store_credit") %></th>
      </tr>
    </thead>
    <tbody>
    <% @orders_with_store_credit.each do |order| %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td><%= link_to order.number, order_url(order) %></td>
        <td><%=order.created_at.to_date%></td>
        <td><%= t(order.state).titleize %></td>
        <td><%= order.user.email if order.user %></td>
        <td><%= number_to_currency order.total %></td>
        <td><%= number_to_currency order.store_credit_amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
