<div class="container">
  <div class="content how-store-credits-work">
    <h3><%= t(:how_do_store_credits_work) %></h3>
    <p>Store credits in your account can be used for purchasing products, even in orders as less as Rs. 600.</p>
    <p>When your order total is above Rs. 600, you can apply Rs. 100 from store credits, so that the order's final value becomes Rs. 500.</p>
    <p>This works in multiples too, as shown below:</p>
    <table>
      <colgroup>
        <col width="34%"/>
        <col width="33%"/>
        <col width="33%"/>
      </colgroup>
      <thead>
        <tr>
          <th><%= t(:purchase_value) %></th>
          <th><%= t(:you_pay) %></th>
          <th><%= t(:savings) %></th>
        </tr>
      </thead>
      <tbody>
        <% (1..5).each do |n| %>
          <tr>
            <td><%= number_to_currency(n * 600) %></td>
            <td><%= number_to_currency(n * 500) %></td>
            <td><%= number_to_currency(n * 100) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
